<% include ../partials/header %>

<div>
  <form action="/signin" method="POST">
    Email: <input type="email" name="email" /><br>
    Password: <input type="password" name="password" /><br></br>
    <button type="submit" >Log In</button>
  </form>
  <%- message %>
</div>

<% include ../partials/footer %>
