<% include ../partials/header %>

<div id="user-lists">
  <% lists.forEach(list => { %>
    <div class="listTitle">
      <h1><a href="http://localhost:3000/lists/<%- list.id %>" ><%- list.title %> List:</a></h1>
    </div>
  <% }) %>
</div>

<% include ../partials/footer %>
