<% include ../partials/header %>

<div id="user-lists" class="container">
  <h1>List of Lists:<h1>
    <div id="lists">
      <% lists.forEach(list => { %>
        <div class="listTitle">
          <h5><a href="http://localhost:3000/lists/<%- list.id %>" ><%- list.title %> List</a></h5>
        </div>
      <% }) %>
    </div>
  <input id="newList" name="title" />
  <input id="userId" value="<%- list.id %>" hidden />
  <button id="addNewList" >Create New List</button>
</div>

<% include ../partials/footer %>
