<% include ../partials/header %>

<div id="user-lists">
  <h1><%- lists.name %> List:</h1>
  </div>
  <div class="tasks">
    <h2>Tasks:</h2>
      <% list.tasks.forEach(list => { %>
        <div class="task-list">
        </div>
      <% }) %>
  </div>
</div>

<% include ../partials/footer %>
